* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header {
}

header h1 {
 margin-bottom: 50px;
}

header p {
  max-width: 310px;
}

main {
  background-color: #999999;
  border-top: 5px solid #6a6a6a;
  padding: 96px 0;
}

.intro-chunk {
  padding: 96px 24px 48px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background-color: white;
  border-bottom: 5px solid #6a6a6a;
  padding: 8px 24px;
}

.indented-heading {
  left: 0;
  width: fit-content;
  margin: 0 0 0 -30px;
  padding: 20px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}
